---
---
<div class="bg-[var(--blue-3)]">
    <div class="flex justify-stretch items-center border-2 border-[var(--purple-2)]">
        <a class="bg-[var(--blue-3)] w-52 h-40 grid justify-center items-center md:border-r-2 border-r-0 border-[var(--purple-2)]" href="#" class="top"><p class="text-[var(--blue-1)] hover:text-[var(--blue-2)] hover:scale-110 ">back to top</p></a>
    <div class="md:border-l-0 border-l-2 border-[var(--purple-2)]"><h1 class="text-end md:pl-4 pl-0">Made by Ida-Matilde</h1></div></div>
</div>
<!-- <div class="bg-[var(--purple-1)] py-8 px-2">
    <div class="flex justify-between items-center"><a class="bg-[var(--text-color)]" href="#" class="top"><p>back to top</p></a>
    <h1>Made by Ida-Matilde</h1></div>
</div> -->
  